* {
  background: #47535e;
  color: white;
}
.create-resize {
  width: 300px;
}

.removeCom {
  float: right;
}

#task2 {
  text-align: right;
}

img {
  width: 40%;
  height: 40%;
}

#im {
  display: inline-block;
}

input {
  border-radius: 8px;
}

input::placeholder {
  text-align: center;
  color: white;
}

#inp {
  position: relative;

  /* width: 400px; */
  /* height: 200px; */
}
